
/* common style */
.noto-serif{
    font-family: "Noto Serif", serif;
   
}
.inter{
    font-family: "Inter", sans-serif;
   
}
.primary-color{
    color: #E95A08;
}
.second-color{
    color: #000000;
}
.paragraph-text{
     color: rgba(0, 0, 0, 0.5);
}
.btn{
    color: #FFFFFF;
    background-color: #E95A08;
}